<!-- Footer -->
<footer class="footer-bg text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Github -->
      <a
        target="_blank"
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/eIliadis93"
        role="button"
        ><img src="assets/svg/ic-github-logo.svg"
      /></a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="mailto:e.iliadis@mc-class.gr"
        role="button"
        ><img src="assets/svg/mail.svg"
      /></a>
    </section>
    <!-- Section: Social media -->
    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        This site is material of my diploma thesis for University of Derby, with
        title 'Blockchain Portal - News on the Block'.<br />
        Created by Evangelos Iliadis - Student ID 100566378<br />
        <a href="https://github.com/eIliadis93/blockchain-portal" target="_blank"
          >Project Repository
        </a>
      </p>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->
