.link{
   font-size: 18px;
   cursor: pointer;
   color: #fafafa;
   background-position: center;
   background-size: cover;
   align-items: flex-end !important;
   border-radius: 8px;
}

.myPage{
   font-size: 22px;
   cursor: pointer;
   color: #e9af5d;
   background-position: center;
   background-size: cover;
   border-radius: 8px;
}

.card{
    font-size: 18px;
   cursor: pointer;
   color: #e650cd;
   background-position: center;
   background-size: cover;
}